body {
    font-family: Arial, sans-serif;
    background-color: #fffefa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px;
  }
  
  input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  button {
    background: #e9aeff;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background: #e9aeff;
  }
  